form input,
form textarea,
form select {
    padding: 0.75rem 0.5rem;
    border: unset;
    border-radius: 0.25rem;
    box-shadow: 0 0 0 1px var(--color02) inset;
    outline: unset;
}

form textarea {
    resize: vertical;
}

form select {
    background-color: var(--color05);
}

form input:focus,
form textarea:focus,
form select:focus {
    box-shadow: 0 0 0 2px var(--color01) inset;
}

form button {
    color: var(--color06);
    background-color: var(--color01);
    border: unset;
    border-radius: 0.25rem;
    padding: 1rem 0;
    width: 100%;
    cursor: pointer;
}

form button:hover {
    transition: 0.3s;
    color: var(--color06);
    background-color: var(--color03);
}

.requiredField,
[class*="error"] {
    color: var(--color07);
    font-style: italic;
}

.valTrue {
    box-shadow: 0 0 0 1px var(--color08) inset;
}

.valFalse {
    box-shadow: 0 0 0 1px var(--color07) inset;
}
