/* BANNER */
.banner-index {
    background-position: center 33%;
    background-size: cover;
    background-image: url("../images/index_banner_01.jpg");
}

.banner-index > div {
    display: flex;
    align-items: center;
    min-height: 24rem;
    max-height: 32rem;
    height: 25vw;
}

.cta h1 {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    margin: 0 0 1rem;
    background-color: rgba(255, 255, 255, 0.5);
}

.cta h3 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    text-align: center;
}

.cta a {
    padding: 1rem 0;
    border-radius: 0.25rem;
    color: var(--color05);
    background-color: var(--color01);
}

.cta a:hover {
    color: var(--color05);
    transition: 0.3s;
    background-color: var(--color03);
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}
