.product {
    display: grid;
    grid-template-columns: auto;
    gap: 1rem;
}

.product-img {
    box-sizing: border-box;
    width: 100%;
    padding: 0 4rem;
}

.product > div {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1rem;
}

.product-name * {
    padding: 0 0 0.5rem;
}

.product label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
}

.product input {
    display: none;
}

.product-color div,
.product-size div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
    gap: 1rem;
}

.product-color label {
    cursor: pointer;
    border-radius: 0.25rem;
}

.color01 {
    background-color: darksalmon;
}

.color02 {
    background-color: lightseagreen;
}

.product-color input:checked + label {
    box-shadow: 0 0 0 4px var(--color01) inset;
}

.product-size label {
    cursor: pointer;
    color: var(--color01);
    background-color: var(--color05);
    box-shadow: 0 0 0 1px var(--color01) inset;
    border-radius: 0.25rem;
}

.product-size input:checked + label {
    color: var(--color05);
    background-color: var(--color01);
    box-shadow: 0 0 0 1px var(--color01) inset;
}

.cta a {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    width: 100%;
    color: var(--color05);
    background-color: var(--color01);
    border-radius: 0.25rem;
}

.product-info {
    padding: 1rem;
    margin: 1rem 0;
    background-color: var(--color05);
}

.product-info h3 {
    margin: 0 0 1rem;
    border-bottom: 1px var(--color02) solid;
}

@media only screen and (min-width: 768px) {
    .product {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .product-img {
        box-sizing: border-box;
        width: 100%;
        padding: unset;
    }

    .product > div {
        gap: 2rem;
    }
    .product-info {
        padding: 2rem;
        margin: 2rem 0;
    }
}

@media only screen and (min-width: 992px) {
    .product {
        grid-template-columns: 3fr 2fr;
    }

    .product-img {
        box-sizing: border-box;
        width: 100%;
        padding: 0 4rem;
    }
}
