header {
    z-index: 1;
    position: relative;
    background: var(--color03);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

header nav {
    display: flex;
    justify-content: space-between;
    height: var(--nav-hight);
    max-width: 80rem;
    margin: auto;
    user-select: none;
}

header nav a {
    display: flex;
}

.h_feed {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color01);
    height: 1.5rem;
    color: var(--color05);
}

.h_logo,
.h_cart {
    display: flex;
    height: var(--nav-hight);
}

.h_logosize {
    width: 8rem;
    padding: 0.5rem 1rem;
}

.h_iconsize {
    width: 1.5rem;
    padding: 0.4rem 1rem;
}

input[type="checkbox"] {
    display: none;
}

header nav,
header a,
.h_label,
header input {
    color: var(--color05);
}

.h_submenu a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 1023.9px) {
    header nav {
        flex-flow: wrap;
    }

    .h_flex {
        display: flex;
        flex: 1;
    }

    .h_toggle {
        order: 2;
        display: flex;
        height: var(--nav-hight);
        width: 1.5rem;
        padding: 0 1rem;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../images/icons/bar.svg);
        background-size: 1.5rem;
    }

    .h_label {
        display: flex;
        align-items: center;
        cursor: pointer;
        height: 3.5rem;
        padding: 0 1rem;
    }

    .h_labellink {
        display: none;
    }
    .h_label:hover {
        text-decoration: underline;
    }

    .h_menu01 {
        order: 3;
        display: none;
        flex-flow: column;
        width: 100%;
        background: var(--color03);
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    }

    .h_menu02 {
        order: 1;
    }

    .h_menugroup01 {
        order: 2;
        border-top: 1px rgba(0, 0, 0, 0.1) solid;
    }

    .h_menugroup01 a {
        align-items: center;
        width: 100%;
        height: 3.5rem;
        padding: 0 2rem;
    }

    .h_menugroup02 {
        display: flex;
        order: 1;
        border-top: 1px rgba(0, 0, 0, 0.1) solid;
    }

    .h_submenu {
        display: none;
        flex-flow: column;
        background: rgba(217, 151, 76, 0.25);
    }

    .h_search {
        width: 100%;
        user-select: unset;
        height: 3.5rem;
        border: 0;
        padding: 0 3.25rem;
        background: rgba(217, 151, 76, 0.25);
    }

    .h_search {
        background-repeat: no-repeat;
        background-position: 1rem;
        background-image: url(../images/icons/search.svg);
        background-size: 1.5rem;
    }

    .h_search::placeholder {
        color: rgba(255, 255, 255, 0.75);
    }

    .h_search:focus {
        color: var(--color05);
        outline-width: 0;
        background: rgba(217, 151, 76, 0.75);
        background-repeat: no-repeat;
        background-position: 1rem;
        background-image: url(../images/icons/search.svg);
        background-size: 1.5rem;
    }

    .h_btn:checked ~ .h_menu01,
    :checked ~ .h_submenu {
        display: flex;
    }

    .h_btn:checked ~ .h_toggle {
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../images/icons/close.svg);
        background-size: 1.5rem;
    }
}

@media only screen and (min-width: 1024px) {
    .h_label,
    .h_toggle {
        display: none;
    }

    .h_menu01 {
        display: flex;
    }

    .h_labellink {
        justify-content: center;
        align-items: center;
        width: 8rem;
        height: var(--nav-hight);
    }

    .h_submenu {
        display: none;
        flex-flow: column;
        background: var(--color03);

        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.5) inset;
    }

    .h_submenu a {
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 3.5rem;
        background: rgba(217, 151, 76, 0.5);
    }

    .h_menugroup01:hover > .h_submenu {
        display: flex;
    }

    .h_menugroup02 {
        display: flex;
        align-items: center;
        height: var(--nav-hight);
        max-width: 100%;
    }

    .h_search {
        user-select: unset;
        height: 2rem;
        padding: 0 2rem;
        border: 0;
        background: rgba(217, 151, 76, 0.25);
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    }

    .h_search {
        background-repeat: no-repeat;
        background-position: left center;
        background-position: 0.25rem;
        background-image: url(../images/icons/search.svg);
        background-size: 1.5rem;
    }

    .h_search::placeholder {
        color: rgba(255, 255, 255, 0.75);
    }

    .h_search:focus {
        color: var(--color05);
        outline-width: 0;
        background: rgba(217, 151, 76, 0.75);
        background-repeat: no-repeat;
        background-position: left center;
        background-position: 0.25rem;
        background-image: url(../images/icons/search.svg);
        background-size: 1.5rem;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    }
}
